@import '../modules/_mixins.scss';

#about-content {
  p {
    @include p_content;
  }
  @include content_mixin;
}

.content {
  @include content_mixin;
  h1 {
    @include responsive(sm) {
      font-size: 2rem;
    }
    @include responsive(xs) {
      font-size: 2rem;
    }
  }
}

.content-2 {
  @include responsive(sm) {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  @include responsive(xs) {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}